{% extends 'base.html' %}
{% block user_first_name %}{{ user.first_name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12" style="text-align: center;">
            <a href="{% url 'novo-lancamento' %}" class="btn btn-info">LANÇAR CONTA A PAGAR</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Data Vencimento</th>
                <th>Data Pagamento</th>
                <th>Usuário</th>
                {% if user.is_superuser %}
                    <th>Estabelecimento</th>
                {% endif %}
                <th>Dar Baixa</th>
                <th>Opções</th>
            </thead>
            <tbody>
                {% for lancamento in lancamentos %}
                    <tr>
                        <td>{{lancamento.id}}</td>
                        <td>{{lancamento.titulo}}</td>
                        <td>{{lancamento.descricao}}</td>
                        <td>{{lancamento.valor}}</td>
                        <td>{{lancamento.tipo_lancamento}}</td>
                        <td>{{lancamento.data_vencimento|date:"d/M/y"}}</td>
                        <td>{{lancamento.data_pagamento|date:"d/M/y"}}</td>
                        <td>{{lancamento.usuario}}</td>
                        {% if user.is_superuser %}
                        <td>{{lancamento.estabelecimento.nome}}</td>
                        {% endif %}
                        <td>
                            <a href="#" data-toggle="modal" data-target="#confirm-lancamento-baixa" data-href="{% url 'lancamento-baixo' lancamento.id %}" title="Dar Baixa">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'editar-lancamento' lancamento.id %}" title="Editar">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>

                            <a href="#" data-toggle="modal" data-target="#confirm-delete" data-href="{% url 'deletar-lancamento' lancamento.id %}" title="Deletar">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}