<!DOCTYPE html>
{% load static from staticfiles %}
{% load bootstrap_tags %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>ConPag</title>

      <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static '/css/bootstrap-theme.min.css' %}" rel="stylesheet">
      <link href="{% static '/css/jquery-ui.min.css' %}" rel="stylesheet">
      <link href="{% static '/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
      <link href="{% static '/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
      <link href="{% static '/css/principal.css' %}" rel="stylesheet">
   </head>
   <body>
      {% if messages %}
      {% for msg in messages %}       
      <div class="message alert alert-{{msg.level_tag}}" role="alert">
         {{msg.message}}
         <a href="#" class="del-msg">&times;</a>
      </div>
      {% endfor %}
      {% endif %}
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="{% url 'home' %}">
               ConPag - {% block user_first_name %}{% endblock %}, bem vindo!
               </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="/logout">Sair</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <main>
         {% block content %}{% endblock %}
      </main>
      <footer style="background-color: #f4f4f4;">
         <div class="container">
            <div class="row" style="text-align: center;">
               <div class="col-md-12">
                  <p>Copyright &copy;2016 by Me</p>
               </div>
            </div>
         </div>
      </footer>

    <div class="modal fade" id="confirm-delete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Deletar
                </div>
                <div class="modal-body">
                    Você realmente deseja DELETAR o lançamento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
                    <a class="btn btn-danger btn-ok">DELETAR</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-lancamento-baixa" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Dar Baixa
                </div>
                <div class="modal-body">
                    Você realmente deseja DAR BAIXA no lançamento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
                    <a class="btn btn-danger btn-ok">DAR BAIXA</a>
                </div>
            </div>
        </div>
    </div>


      <script src="{% static '/js/jquery.min.js' %}"></script>
      <script src="{% static '/js/jquery-ui.min.js' %}"></script>
      <script src="{% static '/js/bootstrap.min.js' %}"></script>
      <script src="{% static '/js/principal.js' %}"></script>
   </body>
</html>