{% extends 'base.html' %}
{% block user_first_name %}{{ user.first_name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 centralizar-tag" >
            <form method="POST" action="{% url 'novo-lancamento' %}">
                {% csrf_token %}
                {{form}}

                <div class="form-group" style="text-align: center; margin: 30px 0px;">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">SALVAR</button>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'home' %}" class="btn btn-danger">CANCELAR</a>
                    </div>
                </div>
            </form>
        </div>
       
    </div>
</div>
{% endblock %}